@import "../../../../variables.scss";

.view_product {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__img {
    width: 25px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: calc(100% - 100px);
    border-radius: 10px;
    background-color: $primary-background-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    padding: 10px 25px;

    .view_product__item {
      width: calc(100% - 20px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      &:first-child {
        margin-top: 25px;
      }

      .view_product__input_name {
        color: lighten($primary-text-color, 40%);
        flex: 0 1 20%;
        margin-bottom: 5px;
      }

      .view_product__input_field, .view_product__product_img {
        display: flex;
        justify-content: center;
        width: calc(90% - 20px);
      }

      .view_product__product_img {
        justify-content: flex-start;
        img {
          // width: 100%;
          max-width: 500px;
          max-height: 500px;
          border-radius: 10px;
        }
      }
      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 10px;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }
    }

    .view_product__submit {
      border: 0;
      cursor: pointer;
      padding: 15px 25px;
      border-radius: 15px;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }
  }

  @media (max-width: 768px) {
    .view_product__item {
      flex-wrap: wrap;

      .view_product__input_field {
        width: 100%;
      }

      .view_product__product_img {
        width: 100%;
        img {
          max-width: 100%;
          max-height: fit-content;
        }
      }

      .view_product__file_upload {
        width: 100%;
        .view_product__file_name {
          width: 80%;
        }
      }
    }
  }
}
