@import "../../../../../variables.scss";
@import "../../../../../../../../../node_modules/react-datepicker/dist/react-datepicker.css";

.edit_general_task {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__img {
    width: 25px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: calc(100% - 100px);
    border-radius: 10px;
    background-color: $primary-background-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    padding: 10px 25px;
    padding-top: 35px;

    .edit_general_task__item {
      width: calc(100% - 20px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      &:first-child {
        margin-top: 25px;
      }

      .react-datepicker-wrapper {
        width: 100%;

        .react-datepicker {
          .react-datepicker__day--selected {
            background-color: $button__background--inverted !important;
          }
        }
      }

      .edit_general_task__input_name {
        color: lighten($primary-text-color, 40%);
        flex: 0 1 20%;
        margin-bottom: 5px;
      }

      .edit_general_task__input_field,
      .edit_general_task__product_img {
        display: flex;
        justify-content: center;
        width: calc(90% - 20px);
      }

      .edit_general_task__product_img {
        justify-content: flex-start;
        img {
          // width: 100%;
          max-width: 500px;
          max-height: 500px;
          border-radius: 10px;
        }
      }
      input[type="text"],
      input[type="password"],
      input[type="number"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 10px;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }

      select {
        border: 1px solid #bbbbbb;
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
        background-color: $primary-background-color;
      }

      .edit_general_task__file_upload {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 0px;
        width: calc(90% - 20px);
        display: flex;
        font-size: 12px;
        // justify-content: space-between;
        align-items: center;
        text-align: center;

        .edit_general_task__file_name {
          display: inline-block;
          margin-right: 10px;
          padding-bottom: 5px;
          overflow-x: hidden;
          // width: 20%;
          min-width: 20%;
          border-bottom: 1.5px solid $secondary-background-color;
        }

        .edit_general_task__label {
          padding: 5px 10px;
          border: 1.5px solid $button__background--hover;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: $button__background--hover;
            color: $secondary-text-color;
          }

          .logo {
            margin-left: 5px;
          }
        }

        input[type="file"] {
          outline: 0;
          display: none;
          opacity: 0;
          pointer-events: none;
          user-select: none;
        }
      }
    }

    .edit_general_task__input_hint {
      text-align: left;
      width: 100%;
      font-size: 80%;
      margin-bottom: 10px;
      color: lighten($primary-text-color, 60%);
    }

    .edit_general_task__submit {
      border: 0;
      cursor: pointer;
      padding: 15px 25px;
      border-radius: 15px;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }
  }

  @media (max-width: 768px) {
    .edit_general_task__item {
      flex-wrap: wrap;

      .edit_general_task__input_field {
        width: 100%;
      }

      .edit_general_task__file_upload {
        width: 100%;
        .edit_general_task__file_name {
          width: 80%;
        }
      }
    }
  }
}
