@import "../../../variables.scss";

.authorization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: $secondary-background-color;
  height: calc(100vh - 25px);

  &__title {
    // margin-top: 10vh;
    margin-top: 5vh;
    margin-bottom: 10px;
    font-size: 150%;
  }

  &__panel {
    min-width: 250px;
    max-width: 500px;
    // border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-background-color;

    .authorization__field_name {
      align-self: flex-start;
      font-size: 80%;
      margin-bottom: 5px;
      padding-left: 10px;
    }

    .authorization__field_input {
      width: 100%;
      margin: 10px 0;

      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 10px 10px;
        border-radius: 10px;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }
    }

    .authorization__link {
      font-size: 85%;
      width: 65%;
      text-align: center;

      a {
        margin: 2px;
        font-size: 110%;
        text-decoration: underline;
      }
    }

    .authorization__submit {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: 10px 0;
      // cursor: pointer;

      input[type="submit"] {
        width: 100%;
        color: $secondary-text-color;
        background-color: $button__background--inverted;
        // margin: 0;
        // padding: 0;
        border: 0;
        padding: 15px 10px;
        border-radius: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: lighten($button__background--inverted, 5%);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }
}
