@import "../../../../variables.scss";

.rigging {
  width: calc(100% - 25px);
  height: calc(100% - 20px);
  padding: 10px 0;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  align-items: center;

  &__addButton {
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    font-size: 25px;
    width: 20px;
    margin-left: 10px;
    padding: 3px 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
    }
  }

  &__img {
    width: 20px;
    filter: brightness(5);
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 25px);
    border-top-left-radius: 10px;
    text-align: center;
    z-index: 1;

    .rigging__title {
      flex: 0 1 20%;
      font-size: 24px;
      padding: 10px 0;
    }

    .rigging__menu {
      display: flex;
      flex: 0 1 80%;
      align-self: flex-end;

      .rigging__item {
        width: 100%;
        margin-right: 2.5px;
        font-size: 80%;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: lighten($primary-text-color, 100%);
        background-color: darken($table-primary__background, 10%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.2s ease-in-out;

        &:last-child {
          margin: 0;
        }

        &:hover {
          color: lighten($primary-text-color, 10%);
          background-color: darken($primary-background-color, 5%);
        }

        &--active {
          color: lighten($primary-text-color, 50%);
          background-color: $primary-background-color;
        }
      }
    }
  }

  &__content {
    width: calc(100% - 25px);
    padding: 25px 0;
    background-color: $primary-background-color;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    z-index: 5;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
  }

  @media (max-width: 620px) {
    &__header {
      .rigging__title {
        display: none;
      }
      .rigging__menu {
        flex: 0 1 100%;

        .rigging__item {
          flex-direction: column;

          .rigging__addButton {
            margin: 0;
          }
        }
      }
    }
  }
}
