@import "../../../../variables.scss";

.new_client {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new_client__input_field {
      margin-bottom: 10px;
    }
  }
}
