@import "../../../variables.scss";

.requests {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__link {
    margin-bottom: 15px;
  }

  &__amount_table {
    align-self: flex-end;
    font-size: 75%;
    margin-bottom: 5px;
    margin-right: 35px;
  }

  // &__table {
  //   width: calc(100% - 50px);
  //   border: 1px solid #ccc;
  //   border-collapse: collapse;

  //   .requests__action {
  //     cursor: pointer;
  //     text-decoration: underline;
  //   }

  //   .requests__sortButton {
  //     padding: 5px;
  //     cursor: pointer;
  //   }

  //   tr {
  //     background-color: #f8f8f8;
  //     border: 1px solid #ddd;
  //   }

  //   td {
  //     padding: 5px;
  //     text-align: center;
  //     border-right: 1px solid rgb(207, 207, 207);

  //     table {
  //       width: 100%;
  //     }
  //   }

  //   thead {
  //     font-size: 80%;
  //     // letter-spacing: 0.1em;
  //     // text-transform: uppercase;
  //     background-color: #c4c4c4;
  //   }
  // }

  .requests__table--even {
    background-color: #ebebeb;
  }

  .requests__table--odd {
    background-color: #f8f8f8;
  }
  
  .requests__table--status_not_ready {
    background-color: red;
  }

  .requests__table--status_in_progress {
    background-color: yellow;
  }

  .requests__table--status_ready {
    background-color: green;
  }

  .requests__table--status_shipped {
    background-color: #f8f8f8;
  }

  @media (max-width: 768px) {
    &__amount_table {
      margin-left: 10px;
      align-self: flex-start;
    }
  }

  @media (max-width: 1220px) {
    // &__table {
    //   border: 0;
    // }

    // &__table caption {
    //   font-size: 1.3em;
    // }

    // &__table thead {
    //   border: none;
    //   clip: rect(0 0 0 0);
    //   height: 1px;
    //   margin: -1px;
    //   overflow: hidden;
    //   padding: 0;
    //   position: absolute;
    //   width: 1px;
    // }

    // &__table tr {
    //   border-bottom: 3px solid #ddd;
    //   display: block;
    //   margin-bottom: 0.625em;
    // }

    // &__table td {
    //   border-bottom: 1px solid #ddd;
    //   display: block;
    //   font-size: 0.8em;
    //   text-align: right;
    // }

    // &__table td::before {
    //   float: left;
    //   font-weight: bold;
    //   text-transform: uppercase;
    // }

    // &__table td::before {
    //   content: attr(data-label);
    // }

    // &__table .requests__actions {
    //   display: flex;
    //   justify-content: center;
    //   border-bottom: 0;

    //   .requests__action {
    //     padding: 5px 10px;
    //   }

    //   &::before {
    //     content: "";
    //   }
    // }
  }
}
