@import "../../../variables.scss";

.page_not_allowed {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__button {
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }
}
