@import "../../../../../variables.scss";

.tableview_stamps {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
  font-size: 80%;
  min-width: 950px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

  &__img {
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__product_img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 5px;
    // width: 80px;
    // padding: 5px;
  }

  &__row,
  &__parts {
    display: flex;
    // background-color: $table-primary__background;
    background-color: $primary-background-color;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    transition: 0.2s ease-in-out;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;

    .tableview_stamps__col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 5px;
      // width: 100%;
      // flex: 0 1 12.5%;
      border-right: 1px solid #cccccc; //border between columns
      // min-width: 100px;
      // max-width: 150px;

      &:nth-child(1) {
        flex: 0 1 5%;
        max-width: 40px;
      }

      //Артикул
      &:nth-child(2) {
        flex: 0 1 5%;
        min-width: 90px;
        padding: 2.5px !important;
      }

      //Название
      &:nth-child(3) {
        // flex: 0 1 35%;
        flex: 0 1 10%;
        padding: 0;
      }

      //Кол-во
      &:nth-child(4) {
        // flex: 0 1 12.5%;
        flex: 0 1 5%;
        max-width: 40px;
      }

      //Местоположение
      &:nth-child(5) {
        // flex: 0 1 5%;
        flex: 0 1 8%;
        word-break: break-all;
      }
      //Комментарий
      &:nth-child(6) {
        // flex: 0 1 5%;
        flex: 0 1 10%;
        // word-break: break-all;
      }
      &:nth-child(7) {
        // flex: 0 1 5%;
        flex: 0 1 10%;
        word-break: break-all;
      }
      &:nth-child(8) {
        // flex: 0 1 5%;
        flex: 0 1 10%;
        word-break: break-all;
      }
      //Закалка
      &:nth-child(9) {
        // flex: 0 1 5%;
        flex: 0 1 10%;
        word-break: break-all;
      }
      &:nth-child(10) {
        // flex: 0 1 5%;
        flex: 0 1 10%;
      }
      &:nth-child(11) {
        // flex: 0 1 5%;
        flex: 0 1 5%;
      }
      &:nth-child(12) {
        // flex: 0 1 5%;
        flex: 0 1 5%;
        word-break: break-all;
      }

      &:last-child {
        flex: 0 1 10%;
        border-right: none;
      }
    }

    .tableview_stamps__actions {
      flex: 0 1 10%;
      display: flex;
      padding: 10px 5px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 125px;

      .tableview_stamps__action {
        font-size: 90%;
        width: 75%;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
        cursor: pointer;
        color: $secondary-text-color;
        background-color: $button__background--inverted;
        transition: 0.2s ease-in-out;
        word-wrap: break-word;
        word-break: break-all;
        font-weight: normal;

        &:last-child {
          margin: 0;
        }

        &:hover {
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
          background-color: lighten($button__background--inverted, 5%);
        }
      }
    }

    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      // padding: 0px 5px;
      // .tableview_stamps__col:last-child {
      //   flex: 0 1 10%;
      // }
    }

    &:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 0;
    }
  }

  .tableview_stamps__row--even {
    background-color: #f8f8f8;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .tableview_stamps__row--odd {
    background-color: #ebebeb;

    &:hover {
      background-color: #dbdbdb;
    }
  }

  .tableview_stamps__row--completed {
    background-color: #6caa2b;
    &:hover {
      background-color: lighten(#6caa2b, 10%);
    }
  }
  .tableview_stamps__row--defect {
    background-color: #e25c52;
    &:hover {
      background-color: lighten(#e25c52, 10%);
    }
  }
  .tableview_stamps__row--production {
    background-color: #e0e0e0;
    &:hover {
      background-color: lighten(#e0e0e0, 10%);
    }
  }

  &__row--header {
    font-size: 90%;
    position: sticky; //test
    top: calc(-6px); //test
    cursor: default;
    font-weight: normal;
    .tableview_stamps__col {
      &:last-child {
        max-width: 125px;
      }
    }
  }

  .tableview_stamps__parts {
    flex-direction: column;
    transform-origin: 0 0;
    // transform: scaleY(1);
    // transition: 0.2s ease-in-out;
    // transition: none;
    max-height: max-content;
    // height: 100%;

    &--hidden {
      // transform: scaleY(0);
      max-height: 0;
      display: none;
      // transition: 0.2s ease-in-out;
    }
    &:last-of-type {
      .tableview_stamps__row {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
      }
    }

    .tableview_stamps__row {
      font-size: 90%;
      cursor: auto;
      font-weight: normal;

      .tableview_stamps__col {
        padding: 5px 5px;

        &:nth-child(3) {
          padding: 0;
        }

        .tableview__color_name {
          text-decoration: none;
        }

        .tableview__color_option {
          font-size: 110%;
        }
      }

      &:first-of-type {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      &:last-of-type {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    .tableview_stamps__row--even {
      background-color: darken(#f8f8f8, 25%);

      &:hover {
        background-color: darken(#f0f0f0, 25%);
      }
    }

    .tableview_stamps__row--odd {
      background-color: darken(#ebebeb, 25%);

      &:hover {
        background-color: darken(#dbdbdb, 25%);
      }
    }
  }
}

@media (max-width: 1024px) {
  .tableview_stamps {
    flex-direction: column;
    align-self: flex-start;
    margin-left: 5px;
    width: calc(100% - 10px);
  }
}
