@import "../../../variables.scss";

.window_error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.3);
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.1s ease-in-out;

  &--hidden {
    // display: none;
    top: -1000px;
  }

  &__content {
    width: 300px;
    min-height: 150px;
    background-color: #eeeeee;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    border: 1px solid #999999;
    padding: 15px;
    padding-bottom: 50px;
    overflow-y: auto;
    position: relative;

    .tableview_products {
      width: 100%;
    }

    .window_error__title {
      text-align: center;
      padding: 10px 0px;
      font-size: 125%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      position: relative;
      color: #f73434;
    }

    .window_error__message {
      font-size: 80%;
    }

    .window_error__button {
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      font-size: 60%;
      width: 25%;
      text-align: center;
      padding: 10px 15px;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      margin: 0 auto;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

      &--submit {
        position: absolute;
        bottom: 15px;
        left: calc(30px + 25%);
      }

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }

    .window_error__exit {
      position: absolute;
      width: 45px;
      height: 45px;
      right: 0;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #cccccc;
      }
      .window_error__bar {
        height: 2px;
        width: 25px;
        content: "";
        background-color: #000000;
        position: absolute;
        right: 9px;
        bottom: 21px;

        &:first-of-type {
          transform: rotate(45deg);
        }
        &:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }

    .searchbar {
      width: 100%;
    }
  }
}
