@import "../../../../../variables.scss";

.tableview__color {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .tableview__color_overlay {
    // background-color: red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &--hidden {
      display: none;
    }
  }

  .tableview__color_name {
    cursor: pointer;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    height: fit-content;
    padding: 10px 5px;
    text-decoration: underline;
    border-radius: 5px;
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }

    .tableview__img {
      margin: 0;
      width: 15px;
    }
  }

  .tableview__color_picker {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    font-weight: normal;
    position: absolute;
    top: calc(100% - 1.5rem);
    transform-origin: 0 0;
    width: 100%;
    z-index: 1;

    &--hidden {
      transform: scaleY(0);
    }

    .tableview__color_option {
      content: "";
      width: 100%;
      padding: 2.5px 0px;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &--completed {
        background-color: #6caa2b;
        &:hover {
          background-color: darken(#6caa2b, 10%);
        }
      }
      &--defect {
        background-color: #e25c52;
        &:hover {
          background-color: darken(#e25c52, 10%);
        }
      }
      &--production {
        background-color: #e0e0e0;
        &:hover {
          background-color: darken(#e0e0e0, 10%);
        }
      }
    }
  }
}
