@import "../../../variables.scss";

.searchbar {
  width: calc(100% - 50px);
  border-radius: 10px;
  padding: 10px 0;
  // background-color: $table-primary__background;
  background-color: $primary-background-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px;

  .searchbar__title {
    padding-left: 25px;
    font-size: 135%;
    margin-bottom: 5px;
  }

  .searchbar__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    align-items: stretch;
    padding: 0 25px;

    .searchbar__img {
      width: 20px;
      filter: brightness(5);
      margin-right: 5px;
    }

    .searchbar__input {
      // margin-left: 10px;
      // flex: 0 1 calc(80% - 25px);
      flex: 0 1 100%;

      input[type="text"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 10px;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }
    }

    .searchbar__searchbutton {
      font-size: 80%;
      width: calc(15% - 25px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 25px;
      border-radius: 10px;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      //для кнопки внутри searchbar input
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }

    .searchbar__addItem {
      // flex: 0 1 12.5%;
      font-size: 80%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 5px 25px;
      border-radius: 15px;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: calc(100% - 10px);

      .searchbar__panel,
      .searchbar__title {
        padding: 0 5px;
      }
    }
  }

  @media (max-width: 1024px) {
    .searchbar__panel {
      .searchbar__addItem {
        display: none;
      }
    }
  }
}
