@import "../../../../../variables.scss";

.stamp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in-out;

  &__amount_table {
    align-self: flex-end;
    font-size: 75%;
    margin-bottom: 5px;
    margin-right: 35px;
  }
}
