@import "../../variables.scss";

.header {
  height: 60px;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 1px 5px rgba(0, 0, 0, 0.24);
  border-bottom: 1px solid #bbbbbb;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: $light80-grey;

  .main_page__overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &--hidden {
      display: none;
    }
  }

  &__company {
    font-size: 24px;
    display: flex;
    align-items: center;

    .header__name {
      margin-left: 5px;
    }
  }

  .header__sidemenu {
    display: flex;
    padding: 5px 10px;
    flex-direction: row;
    align-items: center;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-background-color, 10%);
    }

    .header__name {
      font-size: 80%;
    }

    .linesWrapper {
      display: flex;
      flex-direction: column;
      height: 25px;
      margin-right: 10px;
      transition: 0.2s ease-in-out;

      .line {
        height: 3px;
        margin: 3px auto;
        width: 30px;
        border-radius: 5px;
        background-color: $primary-text-color;
        transform-origin: 3px 0px;
        transition: 0.2s ease-in-out;

        &:first-child {
          transform-origin: 0 0;
        }

        &:nth-child(2) {
          transform-origin: 0 100%;
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__item {
      padding: 15px 10px;
      text-align: center;

      &--user {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        padding: 2.5px 10px;
        border-radius: 10px;
        border: 1px solid #9b9b9b;
        transition: 0.2s ease-in-out;
        z-index: 2;

        &:hover {
          background-color: darken($primary-background-color, 10%);
        }

        .header__profile_data {
          display: flex;
          flex-direction: row;
          align-items: center;

          .header__userimg {
            width: 40px;
            margin-right: 5px;
          }

          .header__email {
            font-size: 80%;
          }
        }

        .header__profile_menu {
          background-color: $side_menu__background;
          border-radius: 10px;
          font-size: 80%;
          position: absolute;
          top: 50px;
          left: 0;
          width: calc(100% - 10px);
          min-width: 125px;
          padding: 5px 5px;
          transition: 0.2s ease-in-out;
          transform-origin: 0 0;
          // z-index: 5;

          .header__profile_item {
            display: block;
            color: $primary-text-color;
            padding: 5px 0px;
            border-radius: 10px;
            transition: 0.2s ease-in-out;
            margin-bottom: 5px;

            &:last-child {
              margin: 0;
            }

            &:hover {
              background-color: darken($side_menu__background, 10%);
            }
          }

          .header__profile_overlay {
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            // z-index: 10;
            // background-color: red;

            &--hidden {
              display: none;
            }
          }

          &--hidden {
            transform: scaleY(0);
          }
        }
      }

      &--button {
        padding: 10px 20px;
        border-radius: 15px;
        background-color: $button__background--inverted;
        color: $secondary-text-color;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: lighten($button__background--inverted, 5%);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0 10px;
    }

    .header__sidemenu {
      font-size: 80%;
    }

    &__menu {
      .header__item {
        padding: 10px 5px;
        font-size: 80%;
        &--user {
          padding: 0px 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
