@import "../../../variables.scss";

.general_page {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
