@import "../src/variables.scss";

* {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
  }

  input:focus {
    outline: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  form {
    padding: 0;
    margin: 0;
  }
}
