@import "../../../variables.scss";

.select {
  width: 100%;
  position: relative;
  // display: flex;

  .select__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  &__error {
    width: calc(100% - 20px);
    margin-top: 1px;
    font-size: 0.75rem;
    // position: absolute;
    // top: 2rem;
    background-color: #f73434;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;

    &--hidden {
      display: none;
    }
  }

  &__searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
    .select__input {
      border: 1px solid #bbbbbb;
      width: 100%;
      padding: 5px 10px;
      // border-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      z-index: 0;

      &:focus {
        border: 1px solid $button__background--inverted;
      }

      &--error {
        border: 1px solid #f73434 !important;
      }
    }

    .select__search_button {
      border: 0;
      flex: 0 1 15%;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      outline: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 80%;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
      }
    }

    .select__window {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(#000000, 0.3);
      top: 0;
      left: 0;
      z-index: 999;

      &--hidden {
        display: none;
      }

      &_content {
        width: 80%;
        height: 80%;
        background-color: #eeeeee;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        border: 1px solid #999999;
        padding: 15px;
        overflow-y: auto;

        .tableview_products {
          width: 100%;
        }

        .select__window_title {
          text-align: center;
          padding: 10px 0px;
          font-size: 125%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          position: relative;
        }

        .select__window_exit {
          position: absolute;
          width: 45px;
          height: 45px;
          right: 0;
          border-radius: 10px;
          transition: 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: #cccccc;
          }
          .select__window_bar {
            height: 2px;
            width: 25px;
            content: "";
            background-color: #000000;
            position: absolute;
            right: 9px;
            bottom: 21px;

            &:first-of-type {
              transform: rotate(45deg);
            }
            &:last-of-type {
              transform: rotate(-45deg);
            }
          }
        }

        .searchbar {
          width: 100%;
        }

        .select__window_button {
          background-color: $button__background--inverted;
          color: $secondary-text-color;
          font-size: 60%;
          padding: 10px 15px;
          margin-left: 10px;
          border-radius: 10px;
          transition: 0.2s ease-in-out;
          right: 50px;
          position: absolute;

          &:hover {
            background-color: lighten($button__background--inverted, 5%);
          }
        }
      }
    }
  }

  &__options {
    position: absolute;
    // width: calc(100% - 20px);
    // left: 10px;
    width: calc(85% + 15px);
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: $light20-grey;
    display: flex;
    flex-direction: column;
    border: 1px solid #aeaeae;
    font-size: 80%;
    z-index: 2;
    transform: scaleX(1);
    transition: 0.1s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    transform-origin: 0 0;

    &--hidden {
      transform: scaleY(0);
      // display: none;
    }

    .select__option_item {
      padding: 5px 10px;
      margin: 0 5px;
      margin-bottom: 5px;
      border-radius: 10px;
      border: 1px solid $button__background--inverted;
      cursor: pointer;
      background-color: #ffffff;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $secondary-text-color;
        background-color: $button__background--inverted;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__selected {
    font-size: 80%;
    display: flex;
    flex-direction: column;

    &_photo {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
      border-radius: 5px;
    }

    &_title {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 85%;
      color: lighten($primary-text-color, 40%);
    }

    &_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // flex-wrap: wrap;
      margin-top: 10px;

      &:first-of-type {
        margin-top: 5px;
      }

      .select__selected_item {
        display: flex;
        padding: 5px 10px;
        border-radius: 10px;
        width: 50%;
        margin-right: 30px;
        position: relative;
        font-size: 90%;
        //   width: fit-content;
        align-items: center;
        border: 1px solid $button__background--inverted;
        cursor: pointer;
        background-color: #ffffff;

        &:last-child {
          margin-bottom: 0;
        }

        .select__img {
          position: absolute;
          left: calc(100% + 10px);
          width: 30px;
        }
      }

      .select__selected_quantity,
      .select__selected_packaging {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        input[type="text"],
        input[type="number"],
        textarea {
          border: 1px solid #bbbbbb;
          font-size: 80%;
          margin-left: 10px;
          width: 50% !important;
          min-width: 50% !important;
          display: flex;
          padding: 5px 10px;
          border-radius: 10px;
          min-height: 1rem;
          height: calc(1rem + 0px);
          // height: fit-content;
          outline: none;
          position: relative;
          //   width: fit-content;
          align-items: center;

          &:focus {
            border: 1px solid $button__background--inverted;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100% !important;
      &__selected {
        &_row {
          flex-direction: column;
          .select__selected_item,
          .select__selected_packaging,
          .select__selected_quantity {
            margin-right: 0;
            width: calc(100% - 50px) !important;
            input {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
