//white color pallete
$white: #ffffff;
$light100-grey: #bbbbbb;
$light80-grey: #c5c5c5;
$light60-grey: #d8d8d8;
$light40-grey: #d2d2d4;
$light20-grey: #eaeaec;
$black: #000000;
$bright-blue: #00a3a2;
$dark-blue: #000034;

$primary-text-color: $black;
$secondary-text-color: $white;
$secondary-background-color: $light20-grey;
$side_menu__background: $light60-grey;
$product_view__background: $light100-grey;
$message_panel__background_color: $light40-grey;
$landing-page__background_color: $light20-grey;
$table-primary__background: $light40-grey;
$primary-background-color: $white;
$button__background: $white;
$button__background--inverted: $bright-blue;
$button__background--hover: $bright-blue;